@model Schoolapp1.Models.Co
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyCourse.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyStudent)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.MyCourse.CourseName)
        </td>
        <td></td>
    </tr>
@foreach (var item in Model.MyStudent)
{ 
     <tr>
        <td></td>
        <td>
            @Html.DisplayFor(modelitem => item.StudentName)
        </td>
    </tr>
}
</table>

