@model Schoolapp1.Models.cat
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Student.StudentName)
        </td>
        <td></td>
    </tr>
@foreach (var item in Model.Courses)
{
    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(modelitem => item.CourseName)
        </td>
    </tr>

}

</table>

